<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:social="http://spring.io/springsocial"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout_blank">
<head>
    <title>Connections - Volontair</title>
</head>
<body>
<div id="content" layout:fragment="content">
    <h3>Your connections</h3>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Type</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="providerId : ${providerIds}">
            <td><img th:src="@{'/images/connect/' + ${providerId} + '.png'}" th:alt="${providerId}" /></td>
            <td th:text="${providerId}"></td>
            <td>
                <span th:if="${!#lists.isEmpty(connectionMap[__${providerId}__])}">
                    Connected to as <span th:text="${connectionMap[__${providerId}__][0].displayName}">account display name</span>.
                </span>
                <span th:if="${#lists.isEmpty(connectionMap[__${providerId}__])}">
                    Not connected.
                </span>
            </td>
            <td>
                <a th:href="@{'/connect/' + ${providerId}}" class="btn btn-primary">
                <span th:if="${!#lists.isEmpty(connectionMap[__${providerId}__])}">
                    Disconnect
                </span>
                <span th:if="${#lists.isEmpty(connectionMap[__${providerId}__])}">
                    Connect
                </span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>